apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: frontend
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 3100
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: frontend
    version: blue
